{% extends 'includes/base.html' %}

{% load static %}

{% block title %}
  {{title}}
{% endblock %}
{% block content %}
  <h1 class='text-center text-capitalize'>{{ title }}</h1>
  <p class='text-center'>
    {{ content }}
  </p>
  <div class='col-sm-6 col-md-6 col-12 offset-3'>
      <form class='contact-form'  action="{% url 'contact' %}" method='post'>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class='btn btn-secondary'>Submit</button>

      </form>
  </div>
  
{% endblock %}
