{% extends 'includes/base.html' %}
{% block content %}
<h1>Checkout</h1>
{% if not billing_profile %}
    <div class="row" >
        <div class="col-12 col-md-6">
            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class="col-12 col-md-6" >
            Continue as a Guest
            {% url "guest_register" as guest_register_url %}
            {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
        </div>
    </div>
{% else %}
    {% if not order.shipping_address  %}
        <div class ="row">
            <div class="col-md-12 col-12">
                <h2>Shipping Address</h2>
                     <hr>
            </div>
            <div class="col-md-6">
                {% url "Addresses:checkout_address_create" as checkout_address_create %}
                {% include 'addresses/snippets/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type="shipping"  %}
            </div> 
            <div class="col-md-6 col-6">
                {% url 'Addresses:checkout_address_reuse' as checkout_address_reuse %}
                {% include 'addresses/snippets/prev_address.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type="shipping" action_url=checkout_address_reuse  %}
            </div>
        </div>
    {% elif not order.billing_address %}
        <div class ="row">
                <div class="col-12">
                    <p class="lead">Billing Address</p>
                    <hr>
                </div>
                <div class="col-md-6 col-6">
                    
                    {% url "Addresses:checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/snippets/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type="billing"  %}
                </div>
                <div class="col-md-6 col-6">
                    {% url 'Addresses:checkout_address_reuse' as checkout_address_reuse %}
                    {% include 'addresses/snippets/prev_address.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type="billing" action_url=checkout_address_reuse %}
                </div>  
        </div>
    {% else %}
        <dl>
            <dt class="text-info fa-2x" >Finalize Checkout</dt>
            <dt>Cart Items:</dt>
                {% for product in order.cart.products.all %}
                    <dd>{{ product }} - {{product.price}} </dd> {% if not forloop.last %} <br> {% endif %}
                {% endfor %}
            <dt>Shipping Address</dt>
                <dt>{{ order.shipping_address.get_address }}</dt>
            <dt>Billing Address</dt>
                <dt>{{ order.billing_address.get_address }}</dt>
            <dt>Cart Total:</dt>
                <dd>{{ order.cart.total }}</dd>
            <dt>Shipping Total:</dt>
                <dd>{{order.shipping_total}}</dd>
            <dt>Order Total:</dt>
                <dd>{{order.total}}</dd>
        </dl>
        <hr>
        <h3>Pay with:</h3>
        <form class="form" action="" method="POST">
            {% csrf_token %}
            {{method_form.as_p}}
            <button type="submit" class="btn btn-outline-success" >Proceed to pay</button>                
        </form> 
    {% endif %}

{% endif %}
{% endblock  %}